*{
	font-family: 'Amaranth', sans-serif;
}
.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.link {
	
	cursor:pointer;
} 
/*
 * Component: Info Box
 * -------------------
 */
.info-box {
  display: block;
  min-height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px;
}
.info-box small {
  font-size: 14px;
}
.info-box .progress {
  background: #FFFFFF;
  margin: 5px -10px 5px -10px;
  height: 2px;
  padding:2px;
}
.info-box .progress,
.info-box .progress .progress-bar {
  border-radius: 0;
}
.info-box .progress .progress-bar {
  background: #fff;
}
.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  /**background: rgba(0, 0, 0, 0.2);**/
  background: rgba(0, 0, 0, 0.08)
  
}
.info-box-icon > img {
  max-width: 100%;
}
.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
}
.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

.ion { text-align:center;
padding-top:10px;
color:white;
margin-top:10px;

}
.bg-main,
.callout.callout-warning,
.alert-warning,
.label-warning,
.modal-warning .modal-body {
 /** background-color: #f39c12 !important;
  background-color:rgba(0, 150, 136, 0.57);**/
  background-color:rgba(158, 158, 158, 0.12)
}

.bg-green,
.callout.callout-warning,
.alert-warning,
.label-warning,
.modal-warning .modal-body {
 /** background-color: #f39c12 !important;**/
  background-color:rgba(52, 148, 56, 0.88);
}

.bg-blue,
.callout.callout-warning,
.alert-warning,
.label-warning,
.modal-warning .modal-body {
 /** background-color: #f39c12 !important;**/
  background-color:rgba(51, 122, 183, 0.79);
}

.progress-description,
.info-box-text {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info-box-text {
  text-transform: uppercase;
}
.info-box-more {
  display: block;
}
.progress-description {
  margin: 0;
}

.menu {
	background-color:#31708F;
	color:white;
    background: -webkit-gradient(linear,left top,right bottom,color-stop(0%,#31708f),color-stop(100%,#00b29c));
    background: -webkit-linear-gradient(-65deg,#C0DBF3 0,#00b29c 100%);
    background: -o-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);
    background: -ms-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);
    background: linear-gradient(154deg,#286090 0,#00b29c 100%);
}
.navbar-default .navbar-nav > li > a
{
	color:white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
		background-color:#31708F;
	color:white;
	
}

.btn-confirmar {
	
	background-color:#00a65a !important;
	color:white;
}

.btn-confirmar:focus {
	
	background-color:#00a65a !important;
	color:white;
}

.tituloInat
{
	
	background-color:#f8f8f8;
	padding:2px;
	/*background-color:#1565C0;
	color:white;*/
	
}


.tituloProm 
{
	background-color:#f8f8f8;
	
	    padding:2px;
	    	/*background-color:#C2185B !important;
	    	color:white;*/
	    	 border-radius: 4px;
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); 
     box-shadow: inset	 0 1px 1px rgba(0,0,0,.075); 
     -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; 
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; 
}

.tituloCadCat 
{
	background-color:#f8f8f8;
	
	  padding:2px;
	 
	  /*background-color: #4CAF50 !important;
	    	color:white;*/
	    	 border-radius: 4px;
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); 
     box-shadow: inset	 0 1px 1px rgba(0,0,0,.075); 
     -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; 
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; 
	  
}

.tituloCadAdm
{
	background-color:#f8f8f8;
	/*background-color:#AFB42B !important;
	    	color:white;*/
	    	 border-radius: 4px;
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); 
     box-shadow: inset	 0 1px 1px rgba(0,0,0,.075); 
     -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; 
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; 
	
	   padding:2px;
}
.card {	


	border: 1px solid #f8f8f8;
	
    border-radius: 4px;
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); 
     box-shadow: inset	 0 1px 1px rgba(0,0,0,.075); 
     -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; 
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; 
    
}


.head-promo {
	
	background-color:#AE0C48 !important;
	color:white !important;
}

.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin: 10px 0 0 25px; }
    
    

.btn-success {
/**	background-color: #005E2F;**/

background-color:	#009688 !important;
border-color:white !important;
}

.btn-success:hover {
/**	background-color: #005E2F;**/

background-color:	rgba(0, 150, 136, 0.67);
}
.btn-success:focus {
/**	background-color: #005E2F;**/

background-color:	red;
}

.btn.disabled:hover
{
	
background-color:	rgba(0, 150, 136, 0.67);
}

.statusCad{
	
	font-color:	#337AB7;
	background-color:green;
}

.ac-container {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 999;
}
.ac-container .ac-menu {
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  background-color: white;
  box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
}
.ac-container .ac-menu .ac-menu-item {
  border-bottom: 1px dotted #ccc;
  line-height: 35px;
  margin: 0;
}
.ac-container .ac-menu .ac-menu-item:last-child {
  border-bottom: 0;
}
.ac-container .ac-menu .ac-menu-item:hover {
  background-color: #e0eaff;
}
.ac-container .ac-menu a {
  padding-left: 5px;
  display: block;
  color: inherit;
  text-decoration: none;
}
.ac-container .ac-menu .ac-state-focus {
  outline: none;
  background-color: #e0eaff;
}



auto-complete-div.default-style ul {
	
	background:red;
	
	z-index:999;
	    
}